version: "3.9"

services:
  app:
    image: shazimali/everyday-shop:latest
    container_name: everyday_shop_app
    restart: always
    env_file:
      - .env
    ports:
      - "80:80"
    depends_on:
      - mysql
    volumes:
      - everyday_shop_storage:/var/www/everyday_shops/storage

  mysql:
    image: mysql:8.0
    container_name: everyday_shop_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Root@!!1
      MYSQL_DATABASE: everyday_shop
    volumes:
      - everyday_shop_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: everyday_shop_phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: Root@!!1

volumes:
  everyday_shop_data:
  everyday_shop_storage:
