version: "3.9"

services:
  everyday_shop_app:
    image: shazimali/everyday-shop:latest
    container_name: everyday_shop_app
    restart: always
    env_file:
      - /var/www/everyday_shop/.env # Your manually created .env
    ports:
      - "8080:80"
    networks:
      - global_network
    volumes:
      - everyday_shop_storage:/var/www/everyday_shop/storage
      - everyday_shop_cache:/var/www/everyday_shop/bootstrap/cache
      - /var/www/everyday_shop/.env:/var/www/everyday_shop/.env

networks:
  global_network:
    external: true

volumes:
  everyday_shop_storage:
  everyday_shop_cache:
