version: "3.9"

services:
  everyday_shop_app:
    image: shazimali/everyday-shop:latest
    container_name: everyday_shop_app
    restart: always
    env_file:
      - .env
    ports:
      - "8080:80"
    networks:
      - global_network
    volumes:
      # Persistent Laravel storage and cache
      - everyday_shop_storage:/var/wwww/everyday_shop/storage
      - everyday_shop_cache:/var/wwww/everyday_shop/bootstrap/cache

networks:
  global_network:
    external: true

volumes:
  everyday_shop_storage:
  everyday_shop_cache:
