version: "3.9"
services:
  app:
    image: shazimali/everyday-shop:latest
    container_name: everyday_shop_app
    restart: always
    env_file:
      - .env
    ports:
      - "80:80"
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: everyday_shop_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: everyday_shop
    volumes:
      - everyday_shop_mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: everyday_shop_phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8081:80"

volumes:
  everyday_shop_mysql_data:
