version: "3.9"
services:
  app:
    image: DOCKERHUB_USERNAME/everyday_shop:latest
    container_name: everyday_shop_app
    restart: always
    ports:
      - "80:80"
    env_file:
      - .env
    depends_on:
      - everyday_shop_mysql

  everyday_shop_mysql:
    image: mysql:8.0
    container_name: everyday_shop_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: everyday_shop
    volumes:
      - everyday_shop_mysql_data:/var/lib/mysql

volumes:
  everyday_shop_mysql_data:
