version: "3.9"

services:
  everyday_shop_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: everyday_shop_app
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - everyday_shop_mysql
    networks:
      - everyday_shop_network

  everyday_shop_mysql:
    image: mysql:8.0
    container_name: everyday_shop_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: everyday_shop
    ports:
      - "3307:3306"
    volumes:
      - everyday_shop_mysql_data:/var/lib/mysql
    networks:
      - everyday_shop_network

  everyday_shop_phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: everyday_shop_phpmyadmin
    restart: always
    environment:
      PMA_HOST: everyday_shop_mysql
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8081:80"
    depends_on:
      - everyday_shop_mysql
    networks:
      - everyday_shop_network

networks:
  everyday_shop_network:
    driver: bridge

volumes:
  everyday_shop_mysql_data:
